<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Birth Certificate</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" id="dashboardLink">Dashboard</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/create-birth-certificate"
            id="birthCertificateLink"
            >Create birth certificate</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wallet" id="walletLink">Wallet</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li>
              <form action="/users/logout" method="post">
                <button type="submit" class="dropdown-item">Logout</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  switch (location.pathname) {
    case "/dashboard":
      document
        .getElementById("birthCertificateLink")
        .classList.remove("active");
      document.getElementById("dashboardLink").classList.add("active");
      document.getElementById("walletLink").classList.remove("active");
      break;
    case "/create-birth-certificate":
      document.getElementById("birthCertificateLink").classList.add("active");
      document.getElementById("dashboardLink").classList.remove("active");
      document.getElementById("walletLink").classList.remove("active");
      break;
    case "/wallet":
      document
        .getElementById("birthCertificateLink")
        .classList.remove("active");
      document.getElementById("dashboardLink").classList.remove("active");
      document.getElementById("walletLink").classList.add("active");
      break;
    default:
      break;
  }
</script>
